@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

/* BG Colors */

.bg-color {
    background-color: #f2f2f2;
    min-height: 100vh;
}

/* NavBar */

.fixed-top {
    padding: 3px 12px;
}

.navbar li a {
    display: block;
    color: #cccac4;
    text-align: center;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.view-page:hover,
.navbar li a:hover {
    color: white;
}

.view-page {
    color: #ccaac3;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg {
    background-color: #2e3129;
}

.nav-button {
    color: #fafafa;
}

/* Content */

.content {
    font-family: 'Muli', sans-serif;
}

.list-help {
    padding: 0.5rem 1.2rem;
}

/* Eye Catchers */

.eye-catcher-red {
    font-weight: 700;
    color: #fa4330;
}

.eye-catcher {
    font-weight: 700;
}

.eye-catcher a {
    color: #212529;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.eye-catcher a:hover {
    color: blue;
}

/* Break */

.break {
    margin-top: -13px;
    width: 14.5rem;
    height: 1.5px;
    border: 0;
    background-color: #adadad;
}

/* Pulse Grow */

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


/* Class Helpers */

body {
    padding-top: 30px;
}

