@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

/* BG Colors */

.bg-color {
    background-color: #f2f2f2;
    min-height: 100vh;
}

/* NavBar */

.fixed-top {
    padding: 3px 12px;
}

.navbar li a {
    display: block;
    color: #cccac4;
    text-align: center;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.view-page:hover,
.navbar li a:hover {
    color: white;
}

.view-page {
    color: #ccaac3;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg {
    background-color: #2e3129;
}

.nav-button {
    color: #fafafa;
}

/* Content */

.content {
    font-family: 'Muli', sans-serif;
}

/* Eye Catchers */

.eye-catcher {
    font-weight: 700;
    color: #fa4330;
}

/* Break */

.break {
    margin-top: -13px;
    width: 14.5rem;
    height: 1.5px;
    border: 0;
    background-color: #adadad;
}

/* Class Helpers */

body {
    padding-top: 30px;
}

